/bin/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore IDE config and use instead the following command to re-generate them correctly: ./gradlew cleanEclipse eclipse 
.settings/*
.vscode/*
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
.classpath
.project
.idea/*

/.nb-gradle/

endtoend/node_modules

