@font-face {
  font-family: 'manrope';
  src: URL('Manrope.ttf') format('truetype');
}

.maintitle {
  background-color: #001c32;
  font-size:14px;
  vertical-align:middle
}

.minidapplist {
  background-color: #fafaff;
  text-align:center;
  vertical-align:top;
  padding: 15px;
  border-spacing: 20px;
}

.minidapp {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #C8C8D41A; 
  border: 1px solid #F0F0FA;	
  font-size:12px;
  width:100%;
  height:50px;
}

.minidapptitle {
  background-color: #fff;
  border-radius: 5px;
  font-size:28px;
  text-align:left;
  vertical-align:top
}

.minidappdescription {
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px;
  font-size:14px;
  text-align:left;
  vertical-align:top;
  padding-left:10;
}

.mainbody {
  background-color: #fafaff;
  border-radius: 10px;
  font-size:32px;
  font-weight:bold;
}

.mainfooter {
  background-color: #001c32;
  color : #ffffff;
  font-size:20px;
  height : 80px;
  font-family:manrope;
}

.buttonbox {
	width:150;
}

.installdapp{
  border: 1px solid white;
  background-color : #001c32;
  border-radius: 20px;
  border-color:#ffffff;
  font-size:16px;
  color : #ffffff;
  width:150;
  height:40;
  font-family:manrope;
  outline: none;
  cursor:pointer;
}

.installdapp:active {
    border-color: #FF512F;   
}

.categoryselect{
	font-size:20px;
}

.helptext {
  background-color: #fafaff;
  font-size:12px;
  font-family:manrope;
  text-align:left;
  vertical-align:top;
  font-weight:plain;
}

.loader {
  border: 16px solid #b3b3b3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

