@font-face {
	font-family: Manrope;
	src: url('./Manrope-Regular.ttf');
}

body {
	font-family: Manrope; 
    margin: 20;   /* Remove body margins */
}

.titlebar{
  width:100%;
  min-width:460;
  height:50px;
  text-align: left;
  
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
}

.contacts{
  width:100%;
  min-width:460;
  text-align: left;
  
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
}

.maintable{
  width:100%;
  min-width:460;
  text-align: left;
  
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
}

.addcontact{
  width:100%;
  min-width:460;
  text-align: left;
  
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
}

.tablerowname{
  text-align:right;
  font-weight:bold;
  width:150;
}

.inputfields{
	width:100%;
	max-width:500;
}