@font-face {
	font-family: Manrope;
	src: url('./miniweb/fonts/Manrope-Regular.ttf');
}

body {
	font-family: Manrope; 
    margin: 20;   /* Remove body margins */
}

textarea {
	font-family: Manrope;
	font-size:16; 
}

input {
	font-family: Manrope;
	font-size:16; 
}

.ui-icon {
	zoom:150%;
	color : #5555ff
}

.mylefttd {
    max-width: 200px;
    overflow: hidden;
	text-overflow: ellipsis;
 	white-space: nowrap;
 	text-align:left;
}

.mytr:hover {
    background-color: #dddddd;
}

.myrighttd {
    max-width: 200px;
    overflow: hidden;
	text-overflow: ellipsis;
 	white-space: nowrap;
 	text-align:right;
}

.titlebar{
  width:100%;
  min-width:360;
  height:50px;
  text-align: left;
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
}

.contacts{
  width:100%;
  min-width:360;
  text-align: left;
  
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
  
  border-spacing:8;
}

.helpdiv{
  width:100%;
  min-width:360;
  text-align: left;
  margin:8;
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
  
  border-spacing:8;
}

.maintable{
  width:100%;
  
  min-width:360;
  max-width:840;
  
  text-align: left;
  border: 2px solid #0000ff;
  border-radius: 10px;
  cursor:pointer;
  border-spacing:8;
}

.maintablefrom{
  white-space: nowrap;
  text-align: right;
}

.maintablesubject{
	width:100%;
	max-width: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.maintabledate{
	text-align: right;
	white-space: nowrap;
}

.subjectrow{
  width:100%;
  min-width:360;
  text-align: center;
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
  
  font-size:22px;
  padding-top: 8;
  padding-bottom: 8;
  
}

.addcontact{
  width:100%;
  min-width:360;
  text-align: left;
  
  max-width:840;
  border: 2px solid #0000ff;
  border-radius: 10px;
}

.tablerowname{
  text-align:right;
  font-weight:bold;
  width:150;
  white-space: nowrap;
}

.inputfields{
	width:100%;
	max-width:500;
}

.mailtextarea{
	width:100%;
	max-width:800;
}

.wraptext{
	width:100%;
	max-width: 200px;
    overflow: hidden;
	text-overflow: ellipsis;
 	white-space: nowrap;
}

.incoming{
	width:80%;
	max-width:460;
  	text-align: left;
  	border: 2px solid #0000ff;
    border-radius: 10px;
    padding:8;
    word-wrap: break-word;
    margin-left: 0; 
	margin-right: auto;
}

.outgoing{
	width:80%;
  	max-width:460;
  	text-align: left;
  	border: 2px solid #0000ff;
    border-radius: 10px;
    padding:8;
    word-wrap: break-word;
    margin-left: auto; 
	margin-right: 0; 
}

.messagebox{
	width:100%;
  	min-width:360;
  	max-width:840;
}

/*Simple Button!!*/
.solobutton {
    min-width:100;
    background-color: #eee;
    border: 0.5px solid #EDEDED;
  	border-radius: 8px;
  	padding: 8px 8px;
  	font-family: Manrope;
  	font-size: 14px;
}
.solobutton-edit {
	font-family: Manrope;
	background: #fff;
}
.solobutton-edit:focus {
	font-family: Manrope;
	border: 0.5px solid #EDEDED;
}

.solobutton:hover {
	font-family: Manrope;
	cursor: pointer;
    color: #fff;
	background-color: #0000ff;
  	border-radius: 8px;
  	padding: 8px 8px;
	border-color: #16181C;
}

.solobutton[disabled]:hover {
	cursor: default;
    color: #fff;
    background-color: #eee;
    border: 0.5px solid #EDEDED;
  	border-radius: 8px;
  	padding: 8px 8px;
  	font-size: 14px;
}

.solobutton:active {
  	opacity: 0.8;
	font-style: italic;
}


/*Simple Button!!*/
.smallbutton {
    min-width:80;
    background-color: #eee;
    border: 0.5px solid #EDEDED;
  	border-radius: 4px;
  	padding: 2px 2px;
  	font-family: Manrope;
  	font-size: 12px;
}
.smallbutton-edit {
	font-family: Manrope;
	background: #fff;
}
.smallbutton-edit:focus {
	font-family: Manrope;
	border: 0.5px solid #EDEDED;
}

.smallbutton:hover {
	font-family: Manrope;
	cursor: pointer;
    color: #fff;
	background-color: #0000ff;
  	border-radius: 4px;
  	padding: 2px 2px;
	border-color: #16181C;
}

.smallbutton:active {
  	opacity: 0.8;
	font-style: italic;
}

