.maintitle {
  background-color: #ccc;
  border-radius: 10px;
  font-size:48px;
  font-family:monospace;
  text-align:center;
  vertical-align:middle
}

.minidapplist {
  background-color: #ccc;
  border-radius: 10px;
  font-size:48px;
  font-family:monospace;
  text-align:center;
  vertical-align:top
}

.minidapptitle {
  background-color: #fff;
  border-radius: 5px;
  font-size:28px;
  font-family:monospace;
  text-align:left;
  vertical-align:top
}

.minidappdescription {
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px;
  font-size:14px;
  font-family:monospace;
  text-align:left;
  vertical-align:top;
  padding-left:10;
}

.mainbody {
  background-color: #ccc;
  border-radius: 10px;
  font-size:32px;
  font-weight:bold;
  font-family:monospace;
}

.mainfooter {
  background-color: #ccc;
  border-radius: 10px;
  font-size:20px;
  font-family:monospace;
}

.minidapp {
  background-color: #ddf;
  border-radius: 10px;
  font-size:32px;
  font-family:monospace;
}

.installdapp{
  background-color: #ddf;
  border-radius: 10px;
  font-size:24px;
  font-weight:bold;
  font-family:monospace;
}

.categoryselect{
	font-size:20px;
}
